<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32610493328-pipqs3e783dbfpkjgf8sr7c146mh55mq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32610493328-pipqs3e783dbfpkjgf8sr7c146mh55mq</string>
	<key>API_KEY</key>
	<string>AIzaSyCeHjmsR2CYhkGsOer5NO2_eU1S_FoMbGo</string>
	<key>GCM_SENDER_ID</key>
	<string>32610493328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.swafe</string>
	<key>PROJECT_ID</key>
	<string>swafe-app</string>
	<key>STORAGE_BUCKET</key>
	<string>swafe-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32610493328:ios:31042fc4d18b28827b8915</string>
	<key>DATABASE_URL</key>
	<string>https://swafe-app-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>